.oculto {
    display: none;
}

.entrada {
    margin-bottom: 20px;
    margin-top: 20px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


#mensagemErro, #mensagemErro2, #mensagemErroVisu, #mensagemErroInt {
    color: red;
    margin-top: 10px;
}
